/* General layout */
.app-container {
  display: flex;
  height: auto;
  flex: 1;
}

.top-bar {
  height: 50px;
  background-color: #101010;
  border-bottom: 2px solid #202020;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
